<!--Begin header and header containers-->
<header id="site-header">
  <div class="header-c1">
    <a id="m-menu" href="#" onclick="openNav()">&#9776; Menu</a>
  </div>
  <div class="header-c2">
    <p id="your-name"><a href="/">subseven.io</a></p>
    <!-- Your personal brand name -->
  </div>
  <div class="header-c3">
    <a href="/"><img src="/img/android-chrome-512x512.png" id="site-logo" alt="SubSeven Logo" /></a>
  </div>
</header>
<!--End of header and menu. -->

<!--Begin menu and menu container. -->
<nav class="menu-sidebar" id="main-nav">
  <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
  <a class="menu-item btn" href="/" rel="noopener"><i class="fa fa-home"></i> Home</a>
  <a class="menu-item btn" href="/blog" rel="noopener"><i class="fas fa-blog"></i> Blog</a>
  <a class="menu-item btn" href="https://linkedin.com/in/subseven" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i> LinkedIn</a>
  <a class="menu-item btn" href="https://twitter.com/SanKahlo" target="_blank" rel="noopener"><i class="fa fa-twitter"></i> Twitter</a>
  <a class="menu-item btn" href="https://github.com/subseven57" target="_blank" rel="noopener"><i class="fa fa-github"></i> GitHub</a>
  <a class="menu-item btn" href="https://keybase.io/subseven" target="_blank" rel="noopener"><i class="fa fa-lock"></i> Keybase</a>
</nav>
