<!--Begin menu and menu container. -->
<nav class="menu-sidebar" id="main-nav">
  <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
  <a class="menu-item btn" href="/" rel="noopener"><i class="fa fa-home"></i> Home</a>
  <a class="menu-item btn" href="/blog" rel="noopener"><i class="fa fa-blog"></i> Blog</a>
  <a class="menu-item btn" href="https://linkedin.com/in/subseven" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i> LinkedIn</a>
  <a class="menu-item btn" href="https://twitter.com/SanKahlo" target="_blank" rel="noopener"><i class="fa fa-twitter"></i> Twitter</a>
  <a class="menu-item btn" href="https://github.com/subseven57" target="_blank" rel="noopener"><i class="fa fa-github"></i> GitHub</a>
  <a class="menu-item btn" href="https://keybase.io/subseven" target="_blank" rel="noopener"><i class="fa fa-lock"></i> Keybase</a>
</nav>
